<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置log4j2的自身log级别为warn -->
<!-- 设置log4j2自动重新配置的监测间隔时间为30秒 -->
<configuration status="WARN" monitorInterval="30">
    <properties>
        <property name="charset">UTF-8</property>
    </properties>
    <appenders>
        <withJansi>true</withJansi>
        <!--控制台日志-->
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%yellow{%d{YYYY-MM-dd HH:mm:ss.SSS}} %highlight{%-5level} %style{%c{1.}logger}{blue} %msg%n"/>
        </console>
    </appenders>
    <loggers>
        <!-- 日志输出级别从低到高分别为: All < Trace < Debug < Info < Warn < Error < Fatal < OFF  -->
        <root level="all">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>